.App {
  margin-top: 20px;
  background-color: rgb(238,238,238);
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.App form label {
  font-size: large;
  color:rgb(100, 127, 166);
  display: inline-block;
  margin-bottom: 4px;
  width: 100px;
}

.App body{
  margin-left: 50px;
}

.App select {
  width:100px;
}

.App input {
  width: 100px;
}
